﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="icon-bar">
            <a class="active"> <i class="fa fa-bullhorn"> </i> </a>
            <a asp-controller="Home" asp-action="About"> <i class="fa fa-shield" title="Broker"> </i> </a>
            <a asp-controller="Home" asp-action="ViewRRHH"> <i class="fa fa-users" title="Recursos Humanos"> </i> </a>
            <a asp-controller="Home" asp-action="SmartAccounting"> <i class="fa fa-usd" title="Contabilidad"> </i> </a>
            <a asp-controller="Home" asp-action="Login"> <i class="fa fa-sign-out" title="Sign Out"> </i> </a>
 </div>
  <br> <br>
 <h2> Mis Recordatorios</h2>
 <p> Click en la "x" para cerrar el mensaje de alerta.</p>
 <div class="alert">
 <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times;</span>
 <strong> Urgente!</strong> Existen facturas pendiente de pago.
 </div>