﻿@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Iniciar sesión</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        @*<span><i class="fab fa-google-plus-square"></i></span>*@
                        <span><i class="fab fa-instagram"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="Name" class="form-control" placeholder="Usuario" required>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="Password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        @*<div class="row align-items-center remember">
                          <input type="checkbox">Recuérdame
                          </div>*@
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links" onclick="document.getElementById('id01').style.display='block'">
                        No tienes una cuenta?<a href="#">Crea una ahora!</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Olvide mi clave?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Event Popup*@
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 0px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            button:hover {
                opacity: 1;
            }

        .cancelbtn {
            padding: 14px 20px;
            background-color: #f44336;
        }

        .cancelbtn, .signupbtn {
            float: left;
            width: 50%;
        }

        .container {
            padding: 16px;
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        .close {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 40px;
            font-weight: bold;
            color: #f1f1f1;
        }

            .close:hover,
            .close:focus {
                color: #f44336;
                cursor: pointer;
            }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

    <div id="id01" class="modal">
      @*  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>*@
        <form class="modal-content" method="post" name="RegistroPopup">
            <div class="container">
                <h1>Registro de nuevo usuario</h1>
                <p>Favor llenar este formulario para proceder a crear su cuenta.</p>
                <hr>
                <label for="nombre"><b>Usuario</b></label>
                <input type="text" placeholder="Indicar Usuario" name="usuario" required>

                <label for="nombre"><b>Nombre</b></label>
                <input type="text" placeholder="Indicar Nombre" name="nombre" required>

                <label for="apellido"><b>Apellido</b></label>
                <input type="text" placeholder="Indicar Apellido" name="apellido" required>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Clave</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b>Repetir Clave</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                <div class="clearfix">
                    <button type="reset" onclick="document.getElementById('id01').style.display = 'none'" class="cancelbtn">Cancel</button>
                    <button type="submit" name="cancelbtn" class="signupbtn">Registrarme</button>
                </div>

            </div>
        </form>
    </div>
  
    @*<script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                document.getElementById('cancelbtn').click();
            }
        }
    </script>*@
</body>
</html>
