﻿@{
    ViewData["Title"] = "SmartAccounting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="~/js/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/css/StyleIndexAlert.css" rel="stylesheet" />

<button class="tablink" onclick="openPage('Home', this, 'blue'),entidad()">Entidad</button>
<button class="tablink" onclick="openPage('News', this, 'blue')" >Gastos</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue'),factura()">Ingresos</button>
<button class="tablink" onclick="openPage('About', this, 'blue')">Producción</button>

<div id="Home" class="tabcontent">
    @* @Html.Partial("~/Views/Home/ViewEntidad.cshtml")*@
</div>

<div id="News" class="tabcontent">
    <h3>News</h3>
    <p>Some news this fine day!</p>
</div>

<div id="Contact" class="tabcontent">
    
</div>

<div id="About" class="tabcontent">
    <h3>Ventas</h3>
</div>

<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }
</script>

<script type="text/javascript">
    function entidad() {
        $('#Home').load('/Home/ViewEntidad');
    }
</script>

<script type="text/javascript">
    function factura() {
        $('#Contact').load('/Home/ViewFactura');
    }
</script>
