﻿@model IEnumerable<Alert_Me.Models.Entidad>

<!DOCTYPE html>

<html>
<head>
    <title>Entidades</title>
    <script src="~/js/Datatable/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div>
        @*<button asp-controller="Home" asp-action="ViewFormEntidad" class="btn"><i class="fa fa-plus"></i></button>*@
        <a asp-controller="Home" asp-action="ViewFormEntidad"> <i class="fa fa-plus" title="Nuevo Cliente"> </i></a>
    </div>
    <br />
    <table class="table table-hover table-responsive table-condensed" id="mytable" >
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IdEntidad)</th>
                <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
                <th>@Html.DisplayNameFor(model => model.TipoEnte)</th>
                <th>@Html.DisplayNameFor(model => model.Sexo)</th>
                <th>@Html.DisplayNameFor(model => model.TipoDoc)</th>
                <th>@Html.DisplayNameFor(model => model.NroDoc)</th>
                <th>@Html.DisplayNameFor(model => model.UsuarioReg)</th>
                <th>@Html.DisplayNameFor(model => model.NroTelefono)</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
                <br>
                <br>
            }
            else
            {
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdEntidad)</td>
                    <td>@Html.DisplayFor(modelItem => item.RazonSocial)</td>
                    <td>@Html.DisplayFor(modelItem => item.TipoEnte)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                    <td>@Html.DisplayFor(modelItem => item.TipoDoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.NroDoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioReg)</td>
                    <td>@Html.DisplayFor(modelItem => item.NroTelefono)</td>
                    <td>
                        <button title="Ver detalle" alt="Ver detalle" class="btn"><i class="fa fa-info"></i> </button>
                     @*   <button title="Modificar entidad" alt="Modificar entidad" class="btn"><i class="fa fa-refresh"></i> </button>*@
                    </td>
                </tr>
                    
            }
            }
            </tbody>
        </table>
    </body>
</html>
<style>
    .table-responsive{
        font-size:small;
    }
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 10px 14px;
        font-size: 12px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>