﻿@model Tuple<List<Empleados>, List<Prestamos>, List<TSS>, List<IRS>, List<TipoDescuento>>

@{
    ViewData["Title"] = "Recursos Humanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> dpt = (List<SelectListItem>)ViewBag.departmento;
    List<SelectListItem> sp = (List<SelectListItem>)ViewBag.supervisor;
    List<SelectListItem> epdavance = (List<SelectListItem>)ViewBag.epd;
    List<SelectListItem> descuentoempleado = (List<SelectListItem>)ViewBag.descuento;
}

@* Recuadros *@
<div class="row">
    <div class="column">
        <div class="card">
            <p><i class="fa fa-info"></i></p>
            <h3>@Html.Raw(ViewBag.empleados)</h3>
            <a href="ModalAvance" data-target="#ModalAvance" data-toggle="modal">Deuda de Empleados</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-check"></i></p>
            <h3>@Html.Raw(ViewBag.puestos)</h3>
            <a href="#">Puestos Registrados</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-smile-o"></i></p>
            <h3>@Html.Raw(ViewBag.dpt)</h3>
            <a href="#">DPT Registrados</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-money"></i></p>
            <h3>@Html.Raw(ViewBag.sueldo)</h3>
            <a href="#">Total en Nómina</a>
        </div>
    </div>
</div>
<br />

@* Botones Modal *@
<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Crear Empleado</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal1">Crear Puesto</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal2">Crear Departamento</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal3">Crear Supervisor</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal4">Avance Efectivo</button>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal5">Parámetros</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal6">Descuentos</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal7">Nómina</button>
    </div>
</div>

@* Modals *@
@* Creacion Empleado *@
<div class="modal" id="myModal">
    <form method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="imgload">
                        <label class="custom-file-label" for="customFile">Choose image</label>
                    </div>
                    <img src="" id="img" name="img" class="avatar">
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-row">
                        @* Nombre *@
                        <div class="col-md-4 mb-2">
                            <i>Nombre Empleado</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre" name="NombreEmpleado" required>
                            </div>
                        </div>
                        @* Apellido *@
                        <div class="col-md-4 mb-2">
                            <i>Apellido Empleado</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido" name="ApellidoEmpleado">
                            </div>
                        </div>
                        @* Tipo Doc *@
                        <div class="col-md-4 mb-3">
                            <i>Tipo de Documento</i>
                            <select id="inputState" class="form-control" name="TipoDocEmpleado">
                                <option selected>Tipo Documento</option>
                                <option>Cédula</option>
                                <option>Pasaporte</option>
                            </select>
                        </div>
                        @* No. Documento *@
                        <div class="col-md-4 mb-2">
                            <i>Número de Documento</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="No. Documento" name="NumDocEmpleado" required>
                            </div>
                        </div>
                        @* Lista Puesto *@
                        <div class="col-md-4 mb-2">
                            <i>Cargo del Empleado</i>
                            <div class="col-md-14">
                                @Html.DropDownList("CargoEmpleado", items, "Indicar Cargo", new { @class = "form-control" })
                            </div>
                        </div>
                        @* Lista Departamento *@
                        <div class="col-md-4 mb-3">
                            <i>Departamento del Empleado</i>
                            <div class="col-md-14">
                                @Html.DropDownList("DepartamentoEmpleado", dpt, "Indicar Departamento", new { @class = "form-control" })
                            </div>
                        </div>
                        @* Lista Supervisor *@
                        <div class="col-md-4 mb-3">
                            <i>Supervisor del Empleado</i>
                            <div class="col-md-14">
                                @Html.DropDownList("SupervisorEmpleado", sp, "Indicar Supervisor", new { @class = "form-control" })
                            </div>
                        </div>
                        @* Sueldo *@
                        <div class="col-md-4 mb-3">
                            <i>Sueldo Mensual</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="number" class="form-control" id="validationCustom01" min="1000" max="600000" placeholder="Sueldo Fijo" name="SueldoEmpleado" required>
                            </div>
                        </div>
                        @* Fec Ingreso *@
                        <div class="col-md-4 mb-3">
                            <i>Fecha de Ingreso</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="date" class="form-control" id="validationCustom01" placeholder="Ingreso" name="FecIngresoEmpleado" required>
                            </div>
                        </div>
                        @* Fec Aniversario *@
                        <div class="col-md-4 mb-3">
                            <i>Fecha de Cumpleaños</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="date" class="form-control" id="validationCustom01" placeholder="Aniversario" name="FecAniversarioEmpleado" required>
                            </div>
                        </div>
                        @* Cuenta Bancaria *@
                        <div class="col-md-4 mb-3">
                            <i>Número de Cuenta</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Cuenta Bancaria" name="CuentaBancariaEmpleado" required>
                            </div>
                        </div>
                        @* Teléfono *@
                        <div class="col-md-4 mb-3">
                            <i>Número de Contacto</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" id="phone" placeholder="No. Contacto" name="TelContactoEmpleado" required>
                            </div>
                        </div>
                        @* Email *@
                        <div class="col-md-4 mb-3">
                            <i>Correo Eletrónico</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" id="phone" placeholder="Email" name="EmailEmpleado" required>
                            </div>
                        </div>
                        @* Lista Pais *@
                        <div class="col-md-4 mb-3">
                            <i>País del Empleado</i>
                            <select id="inputState" class="form-control" name="PaisEmpleado">
                                <option selected>Indicar País</option>
                                <option>Republica Dominicana</option>
                            </select>
                        </div>
                        @* Lista Estado *@
                        <div class="col-md-4 mb-3">
                            <i>Estado o Región</i>
                            <select id="inputState" class="form-control" name="EstadoPaisEmpleado">
                                <option selected>Indicar Estado</option>
                                <option>Santo Domingo</option>
                                <option>Santiago</option>
                                <option>San Cristobal</option>
                                <option>Boca Chica</option>
                            </select>
                        </div>
                        @* Domicilio *@
                        <div class="col-md-8 mb-3">
                            <i>Dirección del Domicilio</i>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"></span>
                                </div>
                                <input type="text" class="form-control" id="phone" placeholder="Domicilio" name="CorrespondenciaEmpleado" required>
                            </div>
                        </div>
                        @* Lista Sexo *@
                        <div class="col-md-4 mb-3">
                            <i>Sexo del Empleado</i>
                            <select id="inputState" class="form-control" name="SexoEmpleado">
                                <option selected>Indicar Sexo</option>
                                <option>Femenino</option>
                                <option>Masculino</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <button type="reset" id="btnreset" class="btn btn-secondary">Reiniciar</button>
                    <button type="button" onclick="document.getElementById('btnreset').click()" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>

@* Crear Puestos *@
<div class="modal" id="myModal1">
    <form method="post" name="CargoPopup">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <p class="modal-title">Registro de Puestos</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @* Descripcion Cargo *@
                    <div class="col-md-12 mb-2">
                        <i>Descripcion del Puesto</i>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"></span>
                            </div>
                            <input type="text" class="form-control" name="DetPuesto" placeholder="Cargo" required>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>

            </div>
        </div>
    </form>
</div>

@* Crear Departamento *@
<div class="modal" id="myModal2">
    <form method="post" name="CargoPopup">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <p class="modal-title">Registro Departamento</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @* Descripcion Cargo *@
                    <div class="col-md-12 mb-2">
                        <i>Descripcion del Departamento</i>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"></span>
                            </div>
                            <input type="text" class="form-control" name="DetDepartamento" placeholder="Departamento" required>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>

            </div>
        </div>
    </form>
</div>

@* Crear Supervisor *@
<div class="modal" id="myModal3">
    <form method="post" name="CargoPopup">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <p class="modal-title">Registro Supervisor</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @* Descripcion Cargo *@
                    <div class="col-md-12 mb-2">
                        <i>Nombre del Supervisor</i>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"></span>
                            </div>
                            <input type="text" class="form-control" id="DetSupervisor" name="DetSupervisor" placeholder="Supervisor" required>
                        </div>
                    </div>
                    @* Lista Departamento *@
                    <div>
                        <div class="col-md-12">
                            @Html.DropDownList("datosdpt", dpt, "Indicar Departamento", new { @id = "datosdpt", @class = "form-control" })
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>

            </div>
        </div>
    </form>
</div>

@* Crear Avance de sueldo *@
<div class="modal" id="myModal4">
    <form method="post" name="AvancePopup">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <p class="modal-title">Registro Prestamo</p>
                    <button type="button" class="close" onclick="document.getElementById('btnreset').click()" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @* Lista Empleados *@
                    <div class="col-md-12 mb-2">
                        <i>Nombre del Empleado</i>
                        <div class="col-md-13">
                            @Html.DropDownList("datosAvanceEmpleado", epdavance, "Indicar Empleado", new { @id = "datosAvanceEmpleado", @class = "form-control" })
                        </div>
                    </div>
                    @* Monto a Solicitar *@
                    <div class="col-md-12 mb-2">
                        <i>Monto Solicitado</i>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"></span>
                            </div>
                            <input type="number" class="form-control" id="validationCustom01" min="1000" max="50000" placeholder="0.00" name="MontoAvance" required>
                        </div>
                    </div>
                    @* Cantidad de cuotas *@
                    <div class="col-md-12 mb-3">
                        <i>Cuotas</i>
                        <select id="inputState" class="form-control" name="CuotasAvance">
                            <option selected>Indicar Nro. Cuotas</option>
                            <option value="1">1 Cuota</option>
                            <option value="2">2 Cuotas</option>
                            <option value="3">3 Cuotas</option>
                            <option value="4">4 Cuotas</option>
                            <option value="5">5 Cuotas</option>
                            <option value="6">6 Cuotas</option>
                        </select>
                    </div>
                    @* Campo descripcion *@
                    <div class="col-md-12 mb-2">
                        <i>Descripción</i>
                        <div class="input-group">
                            <textarea rows="4" cols="50" id="DetSupervisor" name="AvanceDesc" required></textarea>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" onclick="document.getElementById('btnreset').click()" class="btn btn-primary">Registrar</button>
                    <button type="reset" id="btnreset" class="btn btn-secondary">Reiniciar</button>
                </div>

            </div>
        </div>
    </form>
</div>

@* Vista Avance Empleado *@
<div class="modal" id="ModalAvance">
    <form>
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="custom-file">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <h1 align="center">Deuda por Empleado</h1>
                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-hover table-responsive table-condensed" id="tableavance">
                        <thead>
                            <tr>
                                <th width="100">Id Avance</th>
                                <th width="410">Colaborador</th>
                                <th>Monto Solicitado</th>
                                <th>Monto Saldado</th>
                                <th>Nro. Cuotas</th>
                                <th>Cuotas Restantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null)
                            {
                                <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
                                <br>
                                <br>
                            }
                            else
                            {
                                @foreach (Prestamos item in Model.Item2)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.IdAvance)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Colaborador)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MontoSolicitado)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MontoSaldo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cuotas)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CuotasRestante)</td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </form>
</div>

@* Parametros *@
<div class="modal" id="myModal5">
    <form method="post" name="CargoPopup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h1 class="modal-title">Parametros Generales</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @* TabControl style *@
                    <style>
                        * {
                            box-sizing: border-box
                        }

                        body {
                            font-family: "Lato", sans-serif;
                        }

                        /* Style the tab */
                        .tab {
                            float: left;
                            border: 1px solid #ccc;
                            background-color: #f1f1f1;
                            width: 30%;
                            height: 300px;
                        }

                            /* Style the buttons inside the tab */
                            .tab button {
                                display: block;
                                background-color: inherit;
                                color: black;
                                padding: 22px 16px;
                                width: 100%;
                                border: none;
                                outline: none;
                                text-align: left;
                                cursor: pointer;
                                font-size: 17px;
                            }

                                /* Change background color of buttons on hover */
                                .tab button:hover {
                                    background-color: #ddd;
                                }

                                /* Create an active/current "tab button" class */
                                .tab button.active {
                                    background-color: #ccc;
                                }

                        /* Style the tab content */
                        .tabcontent {
                            float: left;
                            padding: 0px 12px;
                            border: 1px solid #ccc;
                            width: 70%;
                            border-left: none;
                            height: 300px;
                            display: none;
                        }

                        /* Clear floats after the tab */
                        .clearfix::after {
                            content: "";
                            clear: both;
                            display: table;
                        }
                    </style>
                    @* Tabs *@
                    <div class="tab">
                        <button class="tablinks" onmouseover="openparametros(event, 'TSS')">TSS</button>
                        <button class="tablinks" onmouseover="openparametros(event, 'IRS')">IRS</button>
                        <button class="tablinks" onmouseover="openparametros(event, 'US')">Parametros Propios</button>
                    </div>
                    @* TSS *@
                    <div id="TSS" class="tabcontent">
                        <table class="table table-hover table-responsive table-condensed" id="tabletss">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Concepto</th>
                                    <th>% Aporte</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
                                    <br>
                                    <br>
                                }
                                else
                                {
                                    @foreach (TSS item in Model.Item3)
                                    {
                                        <tr>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Concepto)</td>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Porciento)</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @* IRS *@
                    <div id="IRS" class="tabcontent">
                        <table class="table table-hover table-responsive table-condensed" id="tableirs">
                            <thead>
                                <tr>
                                    <th>Escala</th>
                                    <th>Desde</th>
                                    <th>Hasta</th>
                                    <th>% Aporte</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
                                    <br>
                                    <br>
                                }
                                else
                                {
                                    @foreach (IRS item in Model.Item4)
                                    {
                                        <tr>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Escala)</td>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Desde)</td>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Hasta)</td>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Aporte)</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @* US *@
                    <div id="US" class="tabcontent">
                        <table class="table table-hover table-responsive table-condensed" id="tableotrosdescuentos">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tipo Descuento</th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
                                    <br>
                                    <br>
                                }
                                else
                                {
                                    @foreach (TipoDescuento item in Model.Item5)
                                    {
                                        <tr>
                                            <td width="100">@Html.DisplayFor(modelItem => item.IdTipo)</td>
                                            <td width="200">@Html.DisplayFor(modelItem => item.Tipo)</td>
                                            <td width="100">@Html.DisplayFor(modelItem => item.Usuario)</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </form>
</div>

@* Descuentos *@
<div class="modal" id="myModal6">
    <form method="post" name="CargoPopup">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <p class="modal-title">Registro Descuento</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @* Lista Empleados *@
                    <div class="col-md-12 mb-2">
                        <i>Nombre del Empleado</i>
                        <div class="col-md-13">
                            @Html.DropDownList("datosdescuentoempleado", epdavance, "Indicar Empleado", new { @id = "datosdescuentoempleado", @class = "form-control" })
                        </div>
                    </div>
                    @* Lista Departamento *@
                    <div class="col-md-12 mb-2">
                        <i>Tipo de Descuento</i>
                        <div class="col-md-13">
                            @Html.DropDownList("datostipodescuento", descuentoempleado, "Tipo Descuento", new { @id = "datostipodescuento", @class = "form-control" })
                        </div>
                    </div>
                    @* Monto Descuento *@
                    <div class="col-md-6 mb-2">
                        <i>Monto Solicitado</i>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"></span>
                            </div>
                            <input type="number" class="form-control" id="validationCustom01" min="200" max="50000" placeholder="0.00" name="MontoDescuento" required>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>

            </div>
        </div>
    </form>
</div>

<br />
@* Tabla Empleados *@
<table class="table table-hover table-responsive table-condensed" id="mytable">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Tipo Documento</th>
            <th>Nro. Documento</th>
            <th>Departamento</th>
            <th>Cargo</th>
            <th>Sueldo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
            <br>
            <br>
        }
        else
        {
            @foreach (Empleados item in Model.Item1)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Empleado)</td>
                    <td>@Html.DisplayFor(modelItem => item.TipoDoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.NroDoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dpt)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sueldo)</td>
                    <td>
                        <button title="Ver detalle" alt="Ver detalle" class="btn" onclick="#"><i class="fa fa-info"></i> </button>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>

<script>
    var imgemp;
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);

        }
    }
    $("#customFile").change(function () {
        readURL(this);
    });

    $('#myModal').on('hidden.bs.modal',
        function () {
            $(this).find('form')[0].reset();
        });

    function myFunction() {
        var x = document.getElementById("customFile").value;
        document.getElementById("demo").innerHTML = x;
    }

    function openparametros(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
