﻿@{
    ViewData["Title"] = "ViewFormEntidad";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alta de Cliente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/StyleSmartAccounting.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container mt-3">
        <a asp-controller="Home" asp-action="SmartAccounting"> <i class="fa fa-chevron-left" title="Nuevo Cliente"> Retroceder</i></a>
        <br />
        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Direcciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Otros Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu3">Contactos</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu4">Debida Diligencia</a>
            </li>*@
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <br />
            @* Botones registros *@
            <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" style="margin-left:5px" class="btn btn-primary">Limpiar</button>
            </div>
            @* General *@
            <div id="home" class="container tab-pane active">
                <form>
                    <div class="form-row">
                        @* Nombre *@
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nombre</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre Cliente">
                        </div>
                        @* Apellido *@
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Apellido</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido Cliente">
                        </div>
                    </div>
                    <div class="form-row">
                        @* Razon Social *@
                        <div class="form-group col-md-10">
                            <label for="inputAddress">Razon Social</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="" disabled>
                        </div>
                        @* Tipo Cliente *@
                        <div class="form-group col-md-2">
                            <label for="inputState">Tipo Cliente</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Personal</option>
                                <option>VIP</option>
                                <option>Empresarial</option>
                                <option>Corporativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Drop Tipo Documento *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Tipo Documento</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>RNC</option>
                                <option>Cedula</option>
                                <option>Pasaporte</option>
                            </select>
                        </div>
                        @* Tipo Documento *@
                        <div class="form-group col-md-4">
                            <label for="inputCity">Tipo Documento</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        @* Sexo *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Sexo</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Masculino</option>
                                <option>Femenina</option>
                                <option>N\A</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Tipo telefono *@
                        <div class="form-group col-md-2">
                            <label for="inputState">Tipo Telefono</label>
                            <select id="inputState" class="form-control">
                                <option>Choose...</option>
                                <option>Residencial</option>
                                <option>Laboral</option>
                                <option selected>Movil</option>
                            </select>
                        </div>
                        @* Nro. Telefono *@
                        <div class="form-group col-md-4">
                            <label for="inputCity">Nro. Telefono</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        @* Tipo telefono 1 *@
                        <div class="form-group col-md-2">
                            <label for="inputState">Tipo Telefono</label>
                            <select id="inputState" class="form-control">
                                <option>Choose...</option>
                                <option>Residencial</option>
                                <option selected>Laboral</option>
                                <option>Movil</option>
                            </select>
                        </div>
                        @* Nro. Telefono *@
                        <div class="form-group col-md-4">
                            <label for="inputZip">Nro. Telefono</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                </form>
            </div>
            @* Direcciones *@
            <div id="menu1" class="container tab-pane fade">
                <br />
                @* Tabla *@
                <div id="table" class="table-editable">
                    <table class="table">
                        <thead>
                            <tr bgcolor="#c2adab">
                                <th width="10%">Id</th>
                                <th width="120%">Direccion</th>
                                <th width="60%">Pais</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <br />
                <form>
                    <div class="form-row">
                        @* Calle *@
                        <div class="form-group col-7">
                            <label>Calle</label>
                            <input type="text" class="form-control" placeholder="Calle">
                        </div>
                        @* Nro. *@
                        <div class="form-group col">
                            <label>Numero de Calle</label>
                            <input type="text" class="form-control" placeholder="Nro. Calle">
                        </div>
                        @* Sector *@
                        <div class="form-group col">
                            <label>Sector</label>
                            <input type="text" class="form-control" placeholder="Sector">
                        </div>
                    </div>
                    <div class="form-row">
                        @* Paises *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Pais</label>
                            <select id="inputState" class="form-control">
                                <option>Choose...</option>
                                <option selected>Republica Dominicana</option>
                            </select>
                        </div>
                        @* Estado *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Estado</label>
                            <select id="inputState" class="form-control">
                                <option>Choose...</option>
                                <option selected>Santo Domingo</option>
                            </select>
                        </div>
                        @* Tipo Domicilio *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Tipo Domicilio</label>
                            <select id="inputState" class="form-control">
                                <option>Choose...</option>
                                <option selected>Laboral</option>
                                <option>Residencial</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            @* Otros Datos *@
            <div id="menu2" class="container tab-pane fade">
                <br>
                <form>
                    <div class="form-row">
                        @* Email *@
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        @* Web Site *@
                        <div class="form-group col-md-5">
                            <label for="inputPassword4">Web Site</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Web Site">
                        </div>
                        @* Fecha Cumpleaño *@
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Fecha Cumpleaño</label>
                            <input type="date" class="form-control" id="inputPassword4" placeholder="Fecha Cumpleaño">
                        </div>
                    </div>
                    <div class="form-row">
                        @* Estado Civil *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Estado Civil</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Casado/a</option>
                                <option>Soltero/a</option>
                                <option>Viudo/a</option>
                                <option>N/A</option>
                            </select>
                        </div>
                        @* Tipo Comprobante *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Tipo Comprobante</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Facturas Valida para Crédito Fiscal</option>
                                <option>Facturas a Consumidores Finales</option>
                            </select>
                        </div>
                        @* Actividad Económica *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Actividad Económica</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Finanza</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Productor *@
                        <div class="form-group col-md-3">
                            <label for="inputState">Productor</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Productor 1</option>
                            </select>
                        </div>
                        @* Punto Venta *@
                        <div class="form-group col-md-2">
                            <label for="inputState">Punto de Venta</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Oficina Principal</option>
                            </select>
                        </div>
                        @* Vendedor *@
                        <div class="form-group col-md-3">
                            <label for="inputState">Vendedor</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Vendedor 1</option>
                            </select>
                        </div>
                        @* Referidor *@
                        <div class="form-group col-md-4">
                            <label for="inputState">Referidor</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Referidor 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Observación</label>
                            <textarea rows="8" cols="130" id="DetSupervisor" name="AvanceDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            @* Contactos *@
            <div id="menu3" class="container tab-pane fade">
                <br />
                @* Tabla *@
                <div id="table" class="table-editable">
                    <table class="table">
                        <thead>
                            <tr bgcolor="#c2adab">
                                <th width="10%">Id</th>
                                <th width="120%">Contacto</th>
                                <th width="60%">Posición</th>
                            </tr>
                        </thead>
                        <tbody id="tablita">

                        </tbody>
                    </table>
                </div>
                <br />
                @* Form *@
                <button class="btn btn-secondary">Agregar</button>
                <form>
                    <br />
                    <div class="form-row">
                        @* Nombre Contacto *@
                        <div class="form-group col">
                            <label>Nombre Contacto</label>
                            <input type="text" class="form-control" placeholder="Ej: Miguel Angel">
                        </div>
                        @* Posicion *@
                        <div class="form-group col-5">
                            <label>Posición</label>
                            <input type="text" class="form-control" placeholder="Ej: Gerente General">
                        </div>
                    </div>
                </form>
            </div>
        </div>

</body>
</html>
