﻿@model IEnumerable<Alert_Me.Models.Servicios>

<!DOCTYPE html>

<html>
<head>
    <title>Facturación</title>
    <link href="~/css/StyleFacturaTable.css" rel="stylesheet" />
    <script src="~/js/TableCalculate.js"></script>
    <script >
        $("tbody tr").click(function () {
            $('.selected').removeClass('selected');
            $(this).addClass("selected");
            var product = $('.idservicio', this).html();
            var infRate = $('.textservicio', this).html();
            var markup = "<tr> <td> <input type='checkbox' name='record'> </td> <td>" + infRate + "</td> <td contenteditable=" + true + ">" + 1 + "</td> <td contenteditable=" + true + ">" + 100 + "</td> <td>" + 0 + "</td> </tr>";
            if (product >= 1)
            {
                $("table tbody").append(markup);
                //alert(product + ',' + infRate);
            }
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    </script>
</head>
<body>
    @*Dropdown tipo formulario*@
    <div class="form-row">
        <div class="col">
            <select id="inputState" class="form-control">
                <option selected>Tipo de Formulario</option>
                <option>Cotización</option>
                <option>Factura Final</option>
                <option>Factura Proforma</option>
            </select>
        </div>
    </div>
    <br />
    <form class="needs-validation" novalidate>
        @*Campos del formulario*@
        <div class="form-row">
            @* Dropdown Cotizaciones*@
            <div class="col-md-2 mb-3">
                <select id="inputState" class="form-control">
                    <option selected>Cotizaciones</option>
                    <option>...</option>
                </select>
            </div>

            @*  Campo Cliente*@
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Cliente" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            @* Campo Contacto*@
            <div class="col-md-4 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Contacto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            @* Dropdown Credito*@
            <div class="col-md-2 mb-3">
                <select id="inputState" class="form-control">
                    <option selected>Indicar Credito</option>
                    <option>7 Dias</option>
                    <option>15 Dias</option>
                    <option>30 Dias</option>
                    <option>45 Dias</option>
                    <option>60 Dias</option>
                </select>
            </div>

            @* Dropdown Moneda*@
            <div class="col-md-2 mb-3">
                <select id="inputState" class="form-control">
                    <option selected>Indicar Moneda</option>
                    <option>RD$</option>
                    <option>USD</option>
                </select>
            </div>

            @*Dropdown Comprobante*@
            <div class="col-md-8 mb-3">
                <select id="inputState" class="form-control">
                    <option selected>Indicar Tipo Comprobante</option>
                    <option>...</option>
                </select>
            </div>

            @*Campo NCF*@
            <div class="col-md-12 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="NCF" required disabled>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            @*Campo Concepto*@
            <div class="col-md-8 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Concepto Factura" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            @*Campo Garantia*@
            <div class="col-md-2 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Tiempo Garantia">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            @* Campo Orden Compra*@
            <div class="col-md-2 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Orden Compra">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>

        <a href="#myModal" data-toggle="modal" data-target="#myModal">Seleccionar Articulos o Servicios</a>
        @*Tabla servicios*@
        <div id="table" class="table-editable">
            <table class="table">
                <thead>
                    <tr bgcolor="#c2adab">
                        <th width="20">Sel</th>
                        <th width="120%">Descripción</th>
                        <th width="60%">Cantidad/Horas</th>
                        <th width="60%">Costo</th>
                        <th width="60%">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col">
            <a href="##" class="delete-row">Eliminar Selección</a>
            <br />
            <a href="##" class="calcular-row">Calcular Tabla</a>
        </div>
        <br />
        <button class="btn btn-secondary" type="submit">Registrar Factura</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <br />
                    <div>
                        <input id="searchTerm" class="form-control" type="text" placeholder="Buscar Servicio" aria-label="Search" onkeyup="doSearch()">
                    </div>
                    <div id="table">
                        <table class="table" border="3" id="tableservices">
                            <thead>
                                <tr bgcolor="#c2adab">
                                    <th width="15%">@Html.DisplayNameFor(model => model.Id)</th>
                                    <th width="150%">@Html.DisplayNameFor(model => model.Services)</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <span>No se encontraron registros, favor comunicarse con el administrador de sistema</span>
                                    <br>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="idservicio">@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td class="textservicio">@Html.DisplayFor(modelItem => item.Services)</td>
                                            <td>
                                                <a href="#">Seleccionar</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </form>
</body>
</html>
